body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient( 
    
    pink,rgb(4, 4, 10)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#card{
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(133, 172, 95);
  margin: 10px;
}
#name,#dept,#rate{
  font-size: 30px;
  width: 200px;
}

a{
  border: 2px solid green;
  background-color: black;
  color: green;
  border-radius: 10px;
}

#onback{
  font-size: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 550px;
  cursor: pointer;
  /* background-color: aqua; */
}